<footer class="footer">
	<p>
		{$admin_footer|default="感谢ThinkPHP、jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br/>
		Copyright &copy;2019 ChenQiang All Rights Reserved.<br/>
		本系统前端部分由
		<a href='http://www.h-ui.net/' target='_blank' title='H-ui前端框架'>H-ui前端框架</a>
		提供支持<br/>
		本系统后端部分由
		<a href='http://www.thinkphp.cn' target='_blank' title='ThinkPHP'>ThinkPHP</a>
		提供支持"}
	</p>
	<p>
		{$beian|default=""}
	</p>
</footer>